<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="workout-history"></div>
        <h1><%= title %></h1>
        <%- messages() %>
        <a href="/userHistory/create" class="box">Add new history</a>
        <%- history %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>