<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
            <h1><%- title %></h1>
            <%- messages() %>
            <form method="post" action="/userHistory/remove/<%= historyId %>">
                <!-- <label>Workout Name<input type="text" name="workoutName" id="workoutName" pattern="^[\w\s]+$"
                                    required></label> -->
                <p>Are you sure you want to delete this workout history? This action cannot be undone.</p>
                <label>Workout Name<input type="text" value="<%= workoutName %>" readonly></label>
                <input type="submit" id="submit" value="Delete History For Workout">
                <input type="hidden" name="historyId" value="<%- historyId %>">
            </form>
            <%- include('./partials/footer.ejs') %>
    </body>
</html>