<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <form action="/userWorkouts/updateExercise" method="post">
        <label>Name<input type="text" name="exerciseName" id="exerciseName" value="<%- exercise.exerciseName %>"></label>
        <label>Reps<input type="number" name="reps" id="reps" value="<%- exercise.reps %>"></label>
        <label>Sets<input type="number" name="sets" id="sets" value="<%- exercise.sets %>"></label>
        <input type="hidden" name="exerciseId" id="exerciseId" value="<%- exerciseId %>">
        <input type="hidden" name="userId" id="userId" value="<%- userId %>">
        <input type="submit" value="Update My Exercise">
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>