<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- messages() %>
    <div>
        <h1>
            Welcome to Lift Logger<%= firstName ? ', ' + firstName + '!' : '!' %>
        </h1>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>