<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- messages() %>
    <h1>Workouts</h1>
    <a href="/userWorkouts/create" class="box">Create new workout</a>
    <% if (workoutsData.length > 0) {%>
        <% workoutsData.forEach(workout=> { %>
        <li class="workout-list">
            <h2>Workout Name: <%= workout.workoutName %>
            </h2>
            <a href="/userWorkouts/delete/<%= workout._id %>">Delete</a>
            <% workout.exercises.forEach(exercise=> { %>
                <div class="workout-card">
                    <h3>Exercise: <%= exercise.exerciseName %>
                    </h3>
                    <p>Reps: <%= exercise.reps %>
                    </p>
                    <p>Sets: <%= exercise.sets %>
                    </p>
                    <a href="/userWorkouts/updateExercise/<%= exercise._id %>" class="box">Modify</a>
                    <a href="/userWorkouts/removeExercise/<%= exercise._id %>" class="box">Delete</a>
                </div>
                <% }) %>
        </li>
        <% }) %>
    <% } else { %>
        <div>No workouts found.</div>
    <% } %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>