<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <% workoutsData.forEach(workout => { %>
        <li class="workout-list">
            <h2>Workout Name: <%= workout.workoutName %></h2>
            <% workout.exercises.forEach(exercise => { %>
                <div class="workout-card">
                    <h3>Exercise: <%= exercise.exerciseName %></h3>
                    <p>Reps: <%= exercise.reps %></p>
                    <p>Sets: <%= exercise.sets %></p>
                </div>
            <% }) %>
        </li>
    <% }) %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>